<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit route</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <p>Edit your chat:<%= findId._id %></p>
    <p>this chat was send from <b><%= findId.from %></b> to <b><%= findId.to %></b></p>
    <form method="post" action="/chat/<%= findId._id %>?_method=patch">
        <textarea rows="10" cols="40" name="msg"><%= findId.msg %></textarea>
        <button id="btn">edit</button>
    </form>
</body>
</html>